.venv/
run.sh
.DS_Store
__pycache__/
data/SWOW/SWOW-EN.R100.csv
data/SWOW/SWOW_flattened.R100.csv
data/SWOW/strength.SWOW-EN.R123.csv
data/sentence_pairs/sem_text_rel_ranked.csv
src/models/SWOE/SWOE.v1.model